.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-page {
  background-color: #f0e8dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.hidden {
  visibility: hidden;
}

.collapsed {
  visibility: collapse;
}

.visible {
  visibility: visible;
}

.left-table {
  width: 50%;
  float: left;
}

.right-table {
  width: 50%;
  float: right;
}

.multi-select {
  width: 150px;;
}

.red-background {
  background-color: red;
}

.btn-danger{color:#fff;background-color:#c9302c;border-color:#ac2925}
.btn-danger:focus{color:#fff;background-color:#c9302c;border-color:#761c19}
.btn-danger:hover{color:#fff;background-color:#c9302c;border-color:#ac2925}

.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}
.btn-success:focus{color:#fff;background-color:#449d44;border-color:#255625}
.btn-success:hover{color:#fff;background-color:#449d44;border-color:#398439}

.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}
.btn-primary:focus{color:#fff;background-color:#286090;border-color:#122b40}
.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
